
.feedback {
  padding-top: 54px;
  padding-bottom: 60px;
  padding-left: 180px;
  padding-right: 180px;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  align-items:center;
}



.feedback h2 {
  width: 100%;
  margin: 0;
  font-size: 27px;
  text-align: center;
  font-weight: bold;
}

.feedback .header {
  margin: 0;
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.feedback .header hr {
  
  width: 150%;
  border: none;
  background-color: #613A3D;
  color: #613A3D;
  height: 2px;
  z-index: 3;
}

.feedback .fid_cont {
  max-width: 1160px;
  width: 100%;
  height: 695px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.feedback p {
  margin: 0;
  font-size: 27px;
  padding-top: 72px;
  padding-right: 130px;
}

.feedback label {
  font-size: 20px;
  text-align: left;
  stroke: #000;
  stroke-width: 2px;
  margin-bottom: 8px;
}

.feedback input,
.feedback textarea {
  margin: 0;
  padding-left: 10px;
  font-size: 15px;
  border: 2px solid #613A3D;
  font-family: "Oranienbaum", serif;
  letter-spacing: 1.55%;
  margin-bottom: 20px;
}

.feedback form {
  width: 40%;
}

form,
.form-group {
  display: flex;
  flex-direction: column;
}

.feedback input {
  width: 100%;
  height: 30px;
}

.feedback textarea {
  width: 100%;
  height: 170px;
  margin-bottom: 20px;
  padding-left: 10px;
  font-size: 15px;
  padding-top: 5px;
}

.feedback .btn {
  width: 276px;
  height: 60px;
  margin: auto;
  color: #ffffff;
  background-color: #613A3D;
  font-size: 27px;
}

.feedback .responseMessage {
  margin-top: 20px;
  color: #613A3D;
  font-weight: 700;
  font-size: 20px;
}

@media (max-width: 1400px) {
  .feedback {
    
    padding-left: 100px;
    padding-right: 100px;
   
  }

  
.feedback p {
  font-size: 20px;

}

.feedback input,
.feedback textarea {
  margin-bottom: 10px;
}


.feedback h2 {
  width: 160%;
  margin: 0;
  font-size: 27px;
  text-align: center;
  font-weight: bold;
}
.form-group {
  margin: 0;
  margin-top: 20px;
  
}


.feedback .btn {
  width: 250px;
  height: 50px;
  margin: auto;
  color: #ffffff;
  background-color: #613A3D;
  font-size: 24px;
  margin-top: 10px;
}

.feedback label {
  font-size: 18px;

}


}


@media (max-width: 820px) {
  .feedback {
    
    padding-left: 50px;
    padding-right: 50px;
   
  }
  .feedback .fid_cont {
      flex-direction: column; 
      width: 90%; 
      height: auto;
  }

  .feedback p {
      padding-right: 0; 
      padding-top: 20px; 
      font-size: 22px; 
      text-align: center;

  }

  .feedback input,
  .feedback textarea {
      width: 100%; 
      max-width: 100%; 
  }

  .feedback .btn {
      width: 100%; 
      font-size: 22px; 
  }
  .feedback form {
    width: 100%;
    
  }

  .feedback h2 {
    width: 210%;
    margin: 0;
    padding: 5px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
  }
  

  
}

@media (max-width: 480px) {
  .feedback {
    
    padding-left: 20px;
    padding-right: 20px;
   
  }
  .feedback h2 {
      font-size: 22px;
  }

  .feedback p {
      font-size: 18px;
  }

  .feedback .btn {
      height: 50px; 
  }
  .feedback form {
    width: 100%;
    
  }
}



@media (max-width: 380px) {
  .feedback p {
    font-size: 16px;
}

.feedback h2 {
  width: 425%;
  font-size: 19px;
}

}


