.map {
    width: 100%;
    max-width: 1160px;
    height: 1000px;
    background-color: #333;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Скрыть элементы с классом copyrights-pane */
[class*="copyrights-pane"] {
    display: none !important;
}

/* Применить фильтр к элементам с классом ground-pane */
[class*="ground-pane"] {
    filter: grayscale(1);
}

/* Медиа-запросы для адаптивности */
@media (max-width: 1400px) {
    .map {
        width: 100%; /* Увеличиваем ширину на меньших экранах */
        height: 800px; /* Уменьшаем высоту для меньших экранов */
    }
}

@media (max-width: 992px) {
    .map {
        width: 100%; /* Увеличиваем ширину на еще меньших экранах */
        height: 600px; /* Уменьшаем высоту для еще меньших экранов */
    }
}

@media (max-width: 768px) {
    .map {
        width: 100%; /* Полная ширина на мобильных устройствах */
        height: 500px; /* Уменьшаем высоту для мобильных устройств */
    }
}

@media (max-width: 480px) {
    .map {
        width: 100%;
        height: 300px; /* Еще меньше высота для очень маленьких экранов */
    }
}
