





.map {
	width: 1000px;
	height: 1000px;
	background-color: #333;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

[class*="copyrights-pane"] {
	display: none !important;
}

[class*="ground-pane"] {
	filter: grayscale(1);
}