/*Поле поиска на главной*/
.search-form {
  width: 100%;
  max-width: 1160px;
  /* width: 1200px; */
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;

}

.cont_main{
  margin: 20px 180px;
  display: flex;
  flex-direction: column;
}

.search-form input {
  font-family: "Oranienbaum", serif;
  letter-spacing: 1.65%;
  border: 3px solid #613A3D;

}

.search-field {

  flex-grow: 1;
  width: 100%;
  max-width: 1000px;
  height: 40px;
  border: 3px solid #613A3D;
  box-sizing: border-box;
  padding: 0 20px;
  font-size: 100%;
  outline: none;
}


.search-btn {
  font-family: "Oranienbaum", serif;
  letter-spacing: 1.65%;
  width: 121px;
  max-width: 121px;
  height: 40px;
 

  background-color: #613A3D;
  border: 1px #613A3D;
  color: white;

  cursor: pointer;
  box-sizing: border-box;
}



.search-form {
  position: relative;
  /* Убедитесь, что родительский элемент имеет позиционирование */
}

.autocomplete-suggestions {
  position: absolute; 
  top: 100%; 
  width: 100%;
  left: 0;
 
  background-color: white; 
  border: 1px solid #613A3D; 
  z-index: 1000; 
  max-height: 200px; 
  overflow-y: auto;
  display: none; 
  padding-left: 5px;

}



/* Медиа-запросы для адаптивности */
@media (max-width: 1400px) {
  .cont_main{
    margin: 20px 100px;
  }

  .search-btn {
   
    width: 80px;
    
  }
  

}

@media (max-width: 992px) {
  .cont_main{
    margin: 20px 100px;
  }

  .search-btn {
   
    width: 80px;
    
  }
  
.search-field {
  height: 30px;
  
}


.search-btn {

  height: 30px;
 
}
  

}

@media (max-width: 768px) {
  .cont_main{
    margin: 20px 50px;
  }


}

@media (max-width: 480px) {
  .cont_main{
    margin: 20px 20px;
  }


}

