.count {
    display: flex;
    flex-direction: row;

    align-items: center;
}

li {
    width: 100%;
    margin-top: 20px;
    font-weight: lighter;
    list-style-type: none;
}


ul h2 {
    font-family: "Oranienbaum", serif;
    letter-spacing: 1.65%;
    font-weight: normal;
    margin-bottom: 5px;
}

ul h4 {
    width: 80px;
    margin-left: 20px;
}

main {
    padding: 20px 180px;

}

.box {
    display: inline-block;
    width: 100%;
    background-color: rgb(196, 196, 196);
}

.in_box {
    background-color: #613A3D;
    height: 20px;
}

